<ng-container *ngIf="flightPlan">
  <agm-map
    [latitude]="pix4DPosition.latitude"
    [longitude]="pix4DPosition.longitude"
    [zoom]="defaultZoom"
    (mapClick)="addPoint($event)"
  >
    <agm-circle *ngFor="let coordinate of flightPlan.coordinates"
                [latitude]="coordinate.latitude"
                [longitude]="coordinate.longitude"
                [radius]="defaultCircleRadius"
    >
    </agm-circle>
    <agm-polyline>
      <agm-polyline-point *ngFor="let coordinate of flightPlan.coordinates"
                          [latitude]="coordinate.latitude"
                          [longitude]="coordinate.longitude"
      >
      </agm-polyline-point>
    </agm-polyline>
  </agm-map>
</ng-container>
