<mdl-list>
  <mdl-list-item lines="2"
                 *ngFor="let flightPlan of flightPlans"
                 (click)="emitFlightPlanSelected(flightPlan)">

    <mdl-list-item-primary-content>
      {{ flightPlan.name }}
      <mdl-list-item-sub-title>
        {{ flightPlan.coordinates.length }} Points
      </mdl-list-item-sub-title>
    </mdl-list-item-primary-content>

    <mdl-list-item-secondary-content *ngIf="flightPlan.id === activeFlightPlan?.id">
      <mdl-list-item-secondary-info>
        Editing
      </mdl-list-item-secondary-info>
      <mdl-icon>mode-edit</mdl-icon>
    </mdl-list-item-secondary-content>

  </mdl-list-item>
</mdl-list>
