<mdl-layout mdl-layout-header-seamed>
  <mdl-layout-header>
    <mdl-layout-header-row>
      <mdl-layout-title>Drone Flight Planner</mdl-layout-title>
    </mdl-layout-header-row>
  </mdl-layout-header>
  <mdl-layout-content>
    <router-outlet></router-outlet>

    <div class="mdl-grid">

      <div class="mdl-cell mdl-cell--4-col">
        <div *ngIf="!(flightPlans | async);else clickForEdit">
          You don't have any flight plans created. Create a new one by
          clicking the button bellow.
        </div>
        <ng-template #clickForEdit>
          Click on a flight plan in the list to start editing and click on the map
          in order to add points.
        </ng-template>

        <dfp-flight-plans
          [flightPlans]="flightPlans | async"
          [activeFlightPlan]="activeFlightPlan | async"
          (selectedFlightPlan)="setActiveFlightPlan($event)"
        >
        </dfp-flight-plans>

        <button mdl-button
                mdl-colored="primary"
                mdl-button-type="raised"
                mdl-ripple
                (click)="addFlightPlan()"
        >
          Create
        </button>
      </div>

      <div class="mdl-cell mdl-cell--8-col">
        <dfp-flight-editor [flightPlan]="activeFlightPlan | async"></dfp-flight-editor>
      </div>
    </div>

  </mdl-layout-content>
</mdl-layout>
